#### Pandas - Zadanie 1 - Dane

##### Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię,
nazwisko,
rok urodzenia,
miesiac urodzenia,
dzień urodzenia,
miejsce urodzenia,
miasto, w którym znajduje się oddział firmy,
departament, w którym pracuje dana osoba,
rok roczęcia pracy w firmie,
miesiac rozpoczęcia pracy,
dzień rozpoczęcia pracy,
doswiadczenie (w latach)

In [1]:
import pandas as pd
dataset = pd.read_csv('dataset_pandas_pd.csv')
dataset.columns = 'imię', 'nazwisko', 'rok urodzenia', 'miesiac urodzenia', 'dzień urodzenia','miejsce urodzenia', 'miasto, w którym znajduje się oddział firmy', 'departament, w którym pracuje dana osoba', 'rok roczęcia pracy w firmie','miesiac rozpoczęcia pracy','dzień rozpoczęcia pracy','doswiadczenie (w latach)'
display(dataset.head())

,imię,nazwisko,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok roczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach)
0,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
1,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
2,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
3,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
4,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20

### Pandas - Zadanie 2 - Najczęstsze nazwisko

#### Osób o jakim nazwisku jest najwięcej ?

In [52]:
dataset['nazwisko'].value_counts()[dataset['nazwisko'].value_counts() == dataset['nazwisko'].value_counts().max()]

Babacka    6
Abacki     6
Cabacki    6
Name: nazwisko, dtype: int64

In [34]:
#to są moje wczesniejsze próby, chcę je mieć w jednym pliku :-)
dataset.nazwisko.value_counts()

Babacka    6
Abacki     6
Cabacki    6
Dabacki    4
Ebacka     3
Fabacki    2
Abacka     2
Babacki    2
Cabacka    1
Gabacki    1
Habacka    1
Ibacka     1
Gabacka    1
Dabacka    1
Ebacki     1
Fabacka    1
Name: nazwisko, dtype: int64

In [51]:
#to są moje wczesniejsze próby, chcę je mieć w jednym pliku :-)
dataset.nazwisko.mode()

0     Abacki
1    Babacka
2    Cabacki
dtype: object