### Zadanie 7 - Data Scientists

##### Który oddział firmy ma najwięcej Data Scientistów ?

In [2]:
import pandas as pd
dataset = pd.read_csv('dataset_pandas_pd3.csv', index_col = 0)
dataset.head(3)

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Science,2008.0,5,15,10,Senior
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid

In [52]:
data = dataset[dataset['departament, w którym pracuje dana osoba'] 
               == "Data Science"].groupby(['miasto, w którym znajduje się oddział firmy']).count()['departament, w którym pracuje dana osoba']
data[data.idxmax()],data.idxmax()

(9, 'Krakow')

##### inne zapisy - bym pamiętała

In [56]:
data = dataset[dataset['departament, w którym pracuje dana osoba'] 
               == "Data Science"].groupby(['miasto, w którym znajduje się oddział firmy']).count()['departament, w którym pracuje dana osoba']
display(data.idxmax())

'Krakow'

In [43]:
data = dataset[dataset['departament, w którym pracuje dana osoba'] 
               == "Data Science"].groupby(['miasto, w którym znajduje się oddział firmy']).count()['departament, w którym pracuje dana osoba']
data[data.idxmax()]

9

###  Zadanie 8 - Nazwy departamentów

##### Szef chciałby zmienić nazewnictwo departamentów w całej firmie. Napisz kod, który zamieni wartości w kolumnie reprezentującej departament, nastepująco:

* Software Development -> Software Development Team
* HR -> Human Resources
* Data Science -> Data Analytics

In [69]:
def change_name(x):
    if x == 'Software Development':
        return 'Software Development Team'
    elif x == 'HR':
        return 'Human Resources'
    elif x == "Data Science":
        return "Data Analytics"
    else:
        return x

dataset['departament, w którym pracuje dana osoba'] = dataset['departament, w którym pracuje dana osoba'].apply(change_name)
dataset.head()

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Analytics,2008.0,5,15,10,Senior
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development Team,2013.0,6,25,35,Ekspert
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,Human Resources,2020.0,4,5,4,Mid
3,Ewelina,Ebacka,K,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
4,Ferdynand,Fabacki,M,1973,11,12,Walbrzych,Gdansk,Human Resources,2001.0,8,25,20,Ekspert

#### metoda .replace()

In [3]:
dataset.replace({'Software Development': 'Software Development Team', 'HR':'Human Resources', 'Data Science': 'Data Analytics'}).head()

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Analytics,2008.0,5,15,10,Senior
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development Team,2013.0,6,25,35,Ekspert
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,Human Resources,2020.0,4,5,4,Mid
3,Ewelina,Ebacka,K,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
4,Ferdynand,Fabacki,M,1973,11,12,Walbrzych,Gdansk,Human Resources,2001.0,8,25,20,Ekspert

### Pandas - Zadanie 9 - Seniorzy

##### Które biuro firmy ma najwięcej osób na Seniorskim poziomie doświadczenia ?

In [100]:
data = dataset[dataset.poziom == 'Senior'].groupby(['miasto, w którym znajduje się oddział firmy']).count().poziom
data.idxmax(), data[data.idxmax()]

('Krakow', 7)

In [101]:
data[data == data.max()]
data.idxmax()

'Krakow'

### Pandas - Zadanie 10 - Kobiety Juniorzy

##### Które biuro ma najwięcej kobiet na Juniorskim poziomie doświadczenia ?

In [123]:
data = dataset[dataset[(dataset.poziom == 'Junior') & (dataset.płeć == 'K')]].groupby(['miasto, w którym znajduje się oddział firmy','płeć']).count().nazwisko
data

Series([], Name: nazwisko, dtype: int64)

In [113]:
dataset[dataset.poziom == 'Junior'] # w ogóle nie ma juniorów w bazie

Empty DataFrame
Columns: [imię, nazwisko, płeć, rok urodzenia, miesiac urodzenia, dzień urodzenia, miejsce urodzenia, miasto, w którym znajduje się oddział firmy, departament, w którym pracuje dana osoba, rok rozpoczęcia pracy w firmie, miesiac rozpoczęcia pracy, dzień rozpoczęcia pracy, doswiadczenie (w latach), poziom]
Index: []

###  Zadanie 11 - Kobiety Mid

##### Ile jest kobiet w krakowskim biurze, na Mid poziomie doświadczenia, urodzonych przed 1975 rokiem ?

In [11]:
data = dataset[(dataset['miasto, w którym znajduje się oddział firmy'] == 'Krakow') 
               &(dataset.poziom == 'Mid') & (dataset.płeć == 'K') & (dataset['rok urodzenia'] < 1975)]
data

Empty DataFrame
Columns: [imię, nazwisko, płeć, rok urodzenia, miesiac urodzenia, dzień urodzenia, miejsce urodzenia, miasto, w którym znajduje się oddział firmy, departament, w którym pracuje dana osoba, rok rozpoczęcia pracy w firmie, miesiac rozpoczęcia pracy, dzień rozpoczęcia pracy, doswiadczenie (w latach), poziom]
Index: []

### Pandas - Zadanie 12 - Seniorzy z ostatnich 10 lat

##### Ile osób, które posiadają obecnie stanowisko seniorskie, dołączyło do firmy w przeciągu ostatnich 10 lat?

In [17]:
data = dataset[(dataset.poziom == 'Senior') & (dataset['rok rozpoczęcia pracy w firmie'] >= 2012)]
data

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
22,Antoni,Abacki,M,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12,Senior
23,Beata,Babacka,K,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11,Senior