### Pandas - Zadanie 1 - Dane

##### Załaduj zbiór danych korzystajac z biblioteki Pandas. Kolumny w naszym zbiorze danych, to:

imię,
nazwisko,
rok urodzenia,
miesiac urodzenia,
dzień urodzenia,
miejsce urodzenia,
miasto, w którym znajduje się oddział firmy,
departament, w którym pracuje dana osoba,
rok roczęcia pracy w firmie,
miesiac rozpoczęcia pracy,
dzień rozpoczęcia pracy,
doswiadczenie (w latach)

In [14]:
import pandas as pd
dataset = pd.read_csv('dataset_pandas_pd.csv')
dataset.columns = 'imię', 'nazwisko', 'rok urodzenia', 'miesiac urodzenia', 'dzień urodzenia','miejsce urodzenia', 'miasto, w którym znajduje się oddział firmy', 'departament, w którym pracuje dana osoba', 'rok roczęcia pracy w firmie','miesiac rozpoczęcia pracy','dzień rozpoczęcia pracy','doswiadczenie (w latach)'
display(dataset.head(5))

,imię,nazwisko,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok roczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach)
0,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
1,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
2,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4
3,Ewelina,Ebacka,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30
4,Ferdynand,Fabacki,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20

### Pandas - Zadanie 2 - Najczęstsze nazwisko

#### Osób o jakim nazwisku jest najwięcej ?

In [79]:
dataset['nazwisko'].value_counts()[dataset['nazwisko'].value_counts() == dataset['nazwisko'].value_counts().max()]

Babacka    6
Abacki     6
Cabacki    6
Name: nazwisko, dtype: int64

In [8]:
dataset['nazwisko'].value_counts().idxmax()

'Babacka'

In [80]:
#to są moje wczesniejsze próby, chcę je mieć w jednym pliku :-)
dataset.nazwisko.value_counts()

Babacka    6
Abacki     6
Cabacki    6
Dabacki    4
Ebacka     3
Fabacki    2
Abacka     2
Babacki    2
Cabacka    1
Gabacki    1
Habacka    1
Ibacka     1
Gabacka    1
Dabacka    1
Ebacki     1
Fabacka    1
Name: nazwisko, dtype: int64

In [4]:
#to są moje wczesniejsze próby, chcę je mieć w jednym pliku :-)
dataset.nazwisko.mode()

0     Abacki
1    Babacka
2    Cabacki
dtype: object

### Pandas - Zadanie 3 - Płeć

#### Po kolumnie z nazwiskiem dodaj kolumnę reprezentującą płeć danej osoby. Można wykorzystać fakt, że imiona kobiet kończą się literka 'a'.

##### Rozwiązanie 1

In [15]:
def plec1(x):  # w argumencie zawsze zewnętrzna funkcji, moze być tez lambda
    if x[-1]=='a':
        return 'K'
    else:
        return 'M'

In [16]:
dataset['płeć'] = dataset['imię'].apply(plec1) # w apply w argumencie zawsze zewnętrzna funkcji, moze być tez lambda

In [17]:
#potem trzeba zmienić kolejnośc kolumn
dataset = dataset[['imię', 'nazwisko','płeć', 'rok urodzenia', 'miesiac urodzenia', 'dzień urodzenia','miejsce urodzenia', 'miasto, w którym znajduje się oddział firmy', 'departament, w którym pracuje dana osoba', 'rok roczęcia pracy w firmie','miesiac rozpoczęcia pracy','dzień rozpoczęcia pracy','doswiadczenie (w latach)']]

In [2]:
dataset.head(3)

,imię,nazwisko,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok roczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach)
0,Barbara,Babacka,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
1,Celina,Cabacka,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
2,Dariusz,Dabacki,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4

##### Rozwiązanie 2

In [65]:
dataset.drop('płeć', axis=1, inplace = True)

In [3]:
def plec2(kolumna):
    lista_plci = []
    for i in range(len(kolumna)):
        if kolumna[i][-1] == 'a':
            lista_plci.append('K')
        else:
            lista_plci.append('M')
    
    return lista_plci

In [6]:
dataset.insert(2, 'płeć', plec2(dataset.imię))

In [7]:
dataset.head(3)

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok roczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach)
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4

##### Rozwiązanie 3

In [160]:
plec3 =  dataset['imię'].apply(lambda imię: imię[-1])=='a'
dataset.insert(2, 'płeć', plec3)
dataset['płeć'] = dataset['płeć'].replace(True, "K")
dataset['płeć'] = dataset['płeć'].replace(False, "M")

In [343]:
dataset.head(3)

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Science,NaN,5,15,10,Senior
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid

### Zadanie 4 - Sortowanie

#### Posortuj zbiór danych alfabetycznie po nazwiskach, a w ramach jednego nazwiska po roku urodzenia.

In [88]:
dataset.sort_values(by=['nazwisko', 'rok urodzenia']).head(3)

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok roczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach)
21,Anastazja,Abacka,K,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13
37,Alicja,Abacka,K,1992,2,5,Gdansk,Warszawa,Accounting,NaN,3,15,13
15,Roman,Abacki,M,1962,2,23,Lublin,Krakow,Data Science,NaN,5,12,8

###  Zadanie 5 - Doświadczenie

##### Do zbioru danych należy dodać kolumnę, która będzie mówiła o poziomie doświadczenia danej osoby, w sposób słowny, przyjmując:
* Junior (do 3 lat doświadczenia) 
* Mid (4 do 8 lat) 
* Senior (9 do 12 lat) 
* Ekspert (od 13 lat)

In [18]:
def define_experience(kolumna):
    list_of_exp = []
    for x in range(len(kolumna)):
        if kolumna[x] <=3:
            list_of_exp.append("Junior")
        elif 4<= kolumna[x] <=8:
            list_of_exp.append("Mid")
        elif 9 <= kolumna[x] <= 12:
            list_of_exp.append("Senior")
        else:
            list_of_exp.append("Ekspert")
    return list_of_exp

In [19]:
dataset.insert(13,'poziom', define_experience(dataset['doswiadczenie (w latach)']))

In [116]:
dataset.drop('poziom', axis=1, inplace = True)

#### Gdy nie zależy mi na konkretnym umiejscowieniu kolumny :

In [73]:
def define_experience2(x):
    if x <=3:
        return "Junior"
    elif 4<= x <=8:
        return "Mid"
    elif 9 <= x <= 12:
        return "Senior"
    else:
        return "Ekspert"

In [94]:
dataset['poziom'] = dataset['doswiadczenie (w latach)'].apply(define_experience2)

### Zadanie 6 - Rok dołączenia

##### Kolumna reprezentująca rok dołączenia do firmy ma puste wartości. Uzupełnij brakujące wartości używając średniej dla osób o takim samym poziomie doświadczenia (kolumna z Zadania 3), w skali całej firmy.

In [20]:
dataset = dataset.rename(columns={'rok roczęcia pracy w firmie':'rok rozpoczęcia pracy w firmie'})

In [21]:
ekspert_mean = round(dataset[dataset.poziom == 'Ekspert']['rok rozpoczęcia pracy w firmie'].mean())
senior_mean = round(dataset[dataset.poziom == 'Senior']['rok rozpoczęcia pracy w firmie'].mean())
mid_mean = round(dataset[dataset.poziom == 'Mid']['rok rozpoczęcia pracy w firmie'].mean())

In [22]:
dataset[dataset.poziom == 'Junior'] # nie ma żadnych pozycji junior - nie daje się policzyć sredniej, dlatego powyżej tylko 3 zmienne

Empty DataFrame
Columns: [imię, nazwisko, płeć, rok urodzenia, miesiac urodzenia, dzień urodzenia, miejsce urodzenia, miasto, w którym znajduje się oddział firmy, departament, w którym pracuje dana osoba, rok rozpoczęcia pracy w firmie, miesiac rozpoczęcia pracy, dzień rozpoczęcia pracy, doswiadczenie (w latach), poziom]
Index: []

In [23]:
missing_mask = dataset['rok rozpoczęcia pracy w firmie'].isna()
mapping_dict = dict({'Ekspert': ekspert_mean, 'Senior': senior_mean, 'Mid': mid_mean})
dataset.loc[missing_mask, 'rok rozpoczęcia pracy w firmie'] = dataset.loc[missing_mask,'poziom'].map(mapping_dict)

In [24]:
dataset

,imię,nazwisko,płeć,rok urodzenia,miesiac urodzenia,dzień urodzenia,miejsce urodzenia,"miasto, w którym znajduje się oddział firmy","departament, w którym pracuje dana osoba",rok rozpoczęcia pracy w firmie,miesiac rozpoczęcia pracy,dzień rozpoczęcia pracy,doswiadczenie (w latach),poziom
0,Barbara,Babacka,K,1971,4,5,Gdynia,Gdansk,Data Science,2008.0,5,15,10,Senior
1,Celina,Cabacka,K,1969,6,7,Sopot,Gdansk,Software Development,2013.0,6,25,35,Ekspert
2,Dariusz,Dabacki,M,1972,8,9,Lublin,Gdansk,HR,2020.0,4,5,4,Mid
3,Ewelina,Ebacka,K,1968,10,11,Warszawa,Gdansk,Accounting,2000.0,7,15,30,Ekspert
4,Ferdynand,Fabacki,M,1973,11,12,Walbrzych,Gdansk,HR,2001.0,8,25,20,Ekspert
5,Grzegorz,Gabacki,M,1967,12,13,Gdansk,Gdansk,Software Development,2002.0,4,5,18,Ekspert
6,Halina,Habacka,K,1974,11,14,Warszawa,Gdansk,Accounting,2003.0,9,15,17,Ekspert
7,Iwona,Ibacka,K,1966,10,15,Poznan,Gdansk,Sales,2004.0,10,25,16,Ekspert
8,Janusz,Abacki,M,1975,9,16,Gdynia,Gdansk,Sales,1995.0,11,5,20,Ekspert
9,Karolina,Babacka,K,1965,8,17,Legnica,Gdansk,Data Science,2005.0,4,15,30,Ekspert
10,Leon,Cabacki,M,1976,7,18,Wroclaw,Krakow,Data Science,2006.0,4,25,24,Ekspert
11,Michal,Dabacki,M,1964,6,19,Swinoujscie,Gdansk,HR,2007.0,12,5,21,Ekspert
12,Natalia,Ebacka,K,1977,5,20,Zakopane,Krakow,HR,2008.0,4,10,20,Ekspert
13,Oskar,Fabacki,M,1963,4,21,Gdansk,Krakow,Data Science,2009.0,4,25,10,Senior
14,Patrycja,Gabacka,K,1978,3,22,Rzeszow,Krakow,Software Development,2010.0,4,5,9,Senior
15,Roman,Abacki,M,1962,2,23,Lublin,Krakow,Data Science,2010.0,5,12,8,Mid
16,Stanislawa,Babacka,K,1979,1,24,Inowroclaw,Krakow,Software Development,2012.0,4,5,7,Mid
17,Tomasz,Cabacki,M,1961,2,25,Bydgoszcz,Krakow,Data Science,2013.0,6,13,6,Mid
18,Urszula,Dabacka,K,1980,3,24,Bydgoszcz,Krakow,Data Science,2014.0,4,14,5,Mid
19,Wladyslaw,Ebacki,M,1960,4,23,Poznan,Krakow,Data Science,2015.0,7,16,15,Ekspert
20,Zofia,Fabacka,K,1981,5,22,Gdansk,Krakow,HR,2008.0,8,25,14,Ekspert
21,Anastazja,Abacka,K,1990,6,21,Gdansk,Krakow,HR,2017.0,9,25,13,Ekspert
22,Antoni,Abacki,M,1982,7,20,Warszawa,Krakow,HR,2018.0,10,20,12,Senior
23,Beata,Babacka,K,1991,8,19,Krakow,Krakow,Software Development,2019.0,4,24,11,Senior
24,Cezary,Cabacki,M,1983,9,18,Gdynia,Krakow,Data Science,2008.0,4,21,12,Senior
25,Daniel,Dabacki,M,1992,10,17,Gdansk,Krakow,Software Development,1995.0,12,5,10,Senior
26,Ewa,Ebacka,K,1984,11,16,Zakopane,Krakow,Software Development,1996.0,11,15,9,Senior
27,Franciszek,Abacki,M,1993,12,15,Lublin,Krakow,Data Science,1997.0,4,25,8,Mid
28,Boleslaw,Babacki,M,1985,11,14,Katowice,Krakow,Data Science,1998.0,4,25,7,Mid
29,Dariusz,Cabacki,M,1994,10,13,Katowice,Krakow,Accounting,1999.0,9,5,6,Mid
30,Mariusz,Dabacki,M,1986,9,12,Gdansk,Warszawa,Accounting,2019.0,8,5,5,Mid
31,Wiktor,Abacki,M,1995,8,11,Gdansk,Warszawa,Accounting,2018.0,4,15,4,Mid
32,Magda,Babacka,K,1985,7,10,Lublin,Warszawa,Software Development,2017.0,4,12,18,Ekspert
33,Maciej,Cabacki,M,1994,6,9,Warszawa,Warszawa,Data Science,2016.0,6,11,17,Ekspert
34,Antoni,Abacki,M,1984,5,8,Ryki,Warszawa,HR,2015.0,5,10,16,Ekspert
35,Bronislaw,Babacki,M,1993,4,7,Gdansk,Warszawa,HR,2014.0,4,22,15,Ekspert
36,Horacy,Cabacki,M,1983,3,6,Tarnobrzeg,Warszawa,Data Science,2013.0,4,25,14,Ekspert
37,Alicja,Abacka,K,1992,2,5,Gdansk,Warszawa,Accounting,2008.0,3,15,13,Ekspert
38,Barbara,Babacka,K,1982,1,4,Sopot,Warszawa,Data Science,2008.0,2,5,10,Senior